CalculatorSOAPMock/Connected Services/CalculatorReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetVolume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:double" />
        <xs:element minOccurs="0" name="width" type="xs:double" />
        <xs:element minOccurs="0" name="height" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVolumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVolumeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="volume" type="xs:double" />
        <xs:element minOccurs="0" name="side1" type="xs:double" />
        <xs:element minOccurs="0" name="side2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSideResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>